{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Квант",
    "description": "Документация API Квант для взаимодействия с системой управления задачами и метриками.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://kvant.app/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tasks/": {
      "get": {
        "description": "Получение списка коммуникаций",
        "responses": {
          "200": {
            "description": "Успешный ответ со списком коммуникаций",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Создание новой коммуникации",
        "requestBody": {
          "description": "Данные для новой коммуникации",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешное создание коммуникации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "description": "Получение информации о коммуникации",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID коммуникации для получения информации",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о коммуникации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Удаление коммуникации",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID коммуникации для удаления",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Коммуникация удалена"
          }
        }
      }
    },
    "/metrics/": {
      "get": {
        "description": "Получение списка показателей",
        "responses": {
          "200": {
            "description": "Список показателей",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Metric"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics/{id}": {
      "post": {
        "description": "Обновление данных показателя",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID показателя для обновления",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные показателя обновлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metric"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Task": {
        "type": "
